/*************************reset marge et padding********************************/
*{
  margin: 0px;
  padding: 0px;
}


body{
  margin: 0px !important;
  padding: 0px !important;
}

/********************** nav ************************/
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
		font-size: 2em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
		color: #2e2e1f;
		text-shadow: 3px 3px 9px #d80e4a;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

h1 {
  font-size: 3em;
  padding-top: 2%;			font-size: 5em;

  font-weight: normal;
  text-align: center;
}

img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.langage, .framework{
  display: flex;
  justify-content: space-around;
}

footer{
  position: absolute;
  bottom: 8px;
  right: 45%;
	position: fixed;
	font-size: 1em;
}

@media screen and (max-width: 1024px) {
	body {
		width: 100%;
	}

  *{
    padding: 0px;
    margin: 0px;
  }

	li {
	    float: none;
	}

	li a {
    font-size: 5em;
	}

  .langage, .framework{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  h1 {
    padding-bottom: 10px;
  }
}
