/*************************reset marge et padding********************************/
*{
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "KGJuneBug;";
  src: url('KGJuneBug.ttf');
}

body{
  margin: 0px !important;
  padding: 0px !important;
}

/********************** nav ************************/
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
		font-size: 2em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
		color: #2e2e1f;
		text-shadow: 3px 3px 9px #d80e4a;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}

.txtcontact {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
  font-family: KGJuneBug;
}

.txtcontacte {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
  font-family: KGJuneBug;
}

.txtcontacte a{
  color: black;
}

.txtcontacte a:hover:not(.active){
	color: #2e2e1f;
	text-shadow: 3px 3px 9px #d80e4a;
}

.txtcontacte a.active{
  color: white;
  background-color: #4CAF50;
}

.blocrs {
  display: block;
  justify-content: space-around;
  margin-left: 37%;
  }

.rs {
  width: 10%;
  padding-right: 2%;
}

footer{
  position: absolute;
  bottom: 8px;
  right: 45%;
	position: fixed;
	font-size: 1em;
}

@media screen and (max-width: 1024px) {
	body {
		width: 100%;
	}

  *{
    padding: 0px;
    margin: 0px;
  }

	li {
	    float: none;
	}

	li a {
    font-size: 5em;
	}

  .blocrs{
    display: block;
    justify-content: center;
  }

  .rs {
    width: 25%
  }
}
