/**************************Mise en place d'une police pour la page**************************/
@font-face {
  font-family: "KGJuneBug";
  src: url('KGJuneBug.ttf');
}

/*********************** nav *************************/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

li {
    float: left;
    font-family: KGJuneBug;
}

li a {
    display: block;
    color: #666;
    font-size: 2.5em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
		color: #2e2e1f;
		text-shadow: 3px 3px 9px #d80e4a;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

/****************************Les textes********************************/
.txt1 {
  font-size: 2em;
  font-family: KGJuneBug;
}

.minit {
  font-size: 2em;
  font-family: KGJuneBug;
}

.box {
  width: 100%;
  padding-top: 30px;
  margin-top: 65px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.date {
  width: 20%;
  text-align: center;
  font-size: 2.5em;
  font-family: KGJuneBug;
}

/**************************style de mes sections**************************/
.exp0 {
  padding-top: 70px;
  text-align: center;
  width: 25%;
  background-color: #f3f3f3;
  border-radius: 10%;
}

.exp1 {
  padding-top: 35px;
  text-align: center;
  width: 25%;
  background-color: #ffe6f2;
  border-radius: 10%;
}

.exp2 {
  padding-top: 40px;
  text-align: center;
  width: 25%;
  background-color: #f3f3f3;
  border-radius: 10%;
}

.exp3 {
  padding-top: 40px;
  text-align: center;
  width: 25%;
  background-color: #ffe6f2;
  border-radius: 10%;
}

.exp4 {
  padding-top: 70px;
  text-align: center;
  margin-left: 5%;
  width: 30%;
  background-color: #f3f3f3;
  border-radius: 10%;
}

.exp5 {
  padding-top: 60px;
  text-align: center;
  width: 30%;
  background-color: #ffe6f2;
  border-radius: 10%;
}

.exp6 {
  padding-top: 70px;
  text-align: center;
  margin-right: 5%;
  width: 30%;
  background-color: #f3f3f3;
  border-radius: 10%;
}

.section1, .section2{
  display: flex;
}

.section1 {
  margin-top: 10px;
  height: 340px;
}

.section2 {
  height: 340px;
}

/**************************footer**************************/
footer{
	margin-top: 0.5%;
	float: right;
	float: bottom;
	font-size: 1em;
}

@media screen and (max-width: 1366px) {
	body {
		width: 100%;
	}

  *{
    padding: 0px;
    margin: 0px;
  }

	li {
	    float: none;
	}

	li a {
			font-size: 2em;
	}

  .section1, .section2 {
    display: inline-block;
  }

  /**************************style de mes sections**************************/
  .exp0 {
    padding-top: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .exp1 {
    padding-top: 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .exp2 {
    padding-top: 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .exp3 {
    padding-top: 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .exp4 {
    padding-top: 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .exp5 {
    padding-top: 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .exp6 {
    padding-top: 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
